{% extends "layout.html" %} {% block title %} Custom {% endblock %} {% block
main %}
<div>
  <div class="container">
    <div class="d-flex flex-column flex-lg-row justify-content-lg-between">
      <div class="col-12 col-lg-3 p-3 article-title">
        <img
          alt="red envelope"
          src="https://cdn.shopify.com/s/files/1/0759/6634/9609/files/madam-shanghai-7-ways-to-include-the-symbol-of-double-happiness-into-your-Chinese-wedding-chinese-tea-ceremony-kneeling-pad_480x480.png?v=1686088154"
        />
        <p class="article-title">Taiwanese Wedding Red Packet Etiquette</p>
      </div>
      <div class="col-12 col-lg-7 p-3">
        <p>
          <i
            >A red packet or a red envelope is a monetary gift given during
            holidays or for special occasions such as a wedding. ---
            <a href="https://en.wikipedia.org/wiki/Red_envelope"
              >Wikipedia</a
            ></i
          >
        </p>
        <p>
          In Taiwan, for guests attending weddings, the customary red envelope
          gift typically starts at NTD 600. When estimating a total gift amount
          of less than 10,000 NTD, it is advisable to steer clear of the numbers
          4 and 8. This caution stems from cultural nuances, where the number 4
          is associated with the word for "death," and the number 8, while
          considered “wealth” in many contexts, sounds similar to the word for
          "separation." Thus, it may not be deemed suitable for inclusion in
          wedding gift amounts. Additionally, one should avoid having an odd
          digit, which related to funerals, or the digit 0 in the hundreds
          place, following established conventions.
        </p>
        <p>
          Interestingly, the amount of NTD 9,900 is considered especially
          auspicious. This is due to its homophonic sound "jiu-jiu" in Mandarin,
          symbolising a heartfelt wish for enduring marital happiness.
        </p>
        <p>
          In the event that the gift amount exceeds 10,000 NTD, it is
          recommended to minimise the presence of two or more odd digits and to
          avoid the numbers 4 and 8 whenever possible.
        </p>
        <p>
          However, regardless of the size of the gift you present, the most
          crucial aspect lies in the sincerity of your well-wishes for the
          newlyweds. May your contribution be a token of blessings that
          accompany them on their journey into marital bliss.
        </p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
