{% extends "layout.html" %}
{% block title %}
Custom
{% endblock %}

{% block main %}
    <h1>Taiwanese Wedding Red Packet Etiquette:</h1>
    <p>For guests attending weddings, the customary red envelope gift typically starts at 600 NTD. When estimating a total gift amount of less than 10,000 NTD, it is advisable to steer clear of the numbers 4 and 8. This caution stems from cultural nuances, where the number 4 is associated with the word for "death," and the number 8, while considered “wealth” in many contexts, sounds similar to the word for "separation." Thus, it may not be deemed suitable for inclusion in wedding gift amounts. Additionally, one should avoid having an odd digit or the digit 0 in the hundreds place.</p>
    <p>Interestingly, the amount of 9,900 NTD is considered especially auspicious. This is due to its homophonic sound "長長久久" in Chinese, symbolising a heartfelt wish for enduring marital happiness.</p>
    <p>In the event that the gift amount exceeds 10,000 NTD, it is recommended to minimise the presence of two or more odd digits and to avoid the numbers 4 and 8 whenever possible.</p>
    <p>However, regardless of the size of the gift you present, the most crucial aspect lies in the sincerity of your well-wishes for the newlyweds. May your contribution be a token of blessings that accompany them on their journey into marital bliss.</p>
{% endblock %}
